#size {
  color: white;
  font-size: 30pt;
  font-weight: bold;
  text-align: center;
}

.table {
  float: right;
  width: 100%;
  height: 100px;
  background-color: white;
}

tr {
  width: 100%;
}

.myTd {
  height: 70px;
  border: 1px solid #000;
}

.myGrid {
  display: flex;
  justify-content: center;
}

#col-hints {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
	color: white;
	font-size: 15pt;
	font-weight: bold;
}

#row-hints {
	color: white;
	font-size: 15pt;
	font-weight: bold;
}

#number {
	color: white;
	font-size: 15pt;
	font-weight: bold;
	text-align: center;
}

.row-hint {
  width: 180px;
  height: 70px;
}

