#size {
	margin: 0 auto;
	color: white;
	grid-area: header;
    font-size: 30pt;
    font-weight: bold;
}

/* .gridForm {
	display: grid;
	grid-template-areas:
        ". header ."
		". col ."
		"row grid ."
		". . button";
} */

#row-hints {
	display: flex;
	flex-direction: column;
	margin-right: 0;
	grid-area: row;
}

.row-hint {
	width: 200px;
	height: 40px;
	/* margin-top: 20px; */
}

.col-hint {
	width: 43px;
	height: 200px;
	grid-area: col;
}

.myGrid {
	grid-area: grid;
}

table {
	margin: 0 auto;
	width: 40vw;
	height: 40vh;
	background-color: white;
}

tr {
	height: 50px;
}

td {
	border: 1px solid #000;
	/* width: 50px; */
	/* background-color: white; */
}

.btn {
	grid-area: button;
}
