{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <div class="col-md-5 col-lg-6 order-0 order-md-1"><img class="w-100" src="{% static 'img/illustrations/hero-header.png' %}" alt="..." /></div>
        <div class="col-md-7 col-lg-6 text-md-start text-center">
            <p class="text-light">Nonogram Solver</p>
            <h1 class="text-light fs-md-5 fs-lg-6">D-GA</h1>
            <form action="{% url 'result' %}" method="GET">
                <input type="text" name="row" placeholder="row" style="width:60px; height:40px;text-align:center;"> <span style="font-weight: bolder; color: white;">X</span>
                <input type="text" name="col" placeholder="col" style="width:60px; height:40px; text-align:center;">&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-primary">NEXT</button>
            </form>
        </div>
    </div>

</html>
{% endblock %}